<!DOCTYPE html>
<html>

<head>
    <title>DoctorBuddy</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style type="text/css">
    body {
        margin: 0;
        padding: 0;
        background-color: #045de9;
        background-image: linear-gradient(290deg, #045de9 0%, #059dc7 74%);
    }

    #login .container #login-row #login-column #login-box {
        margin-top: 30px;
        margin-bottom: 30px;
        border: 1px solid #9C9C9C;
        background-color: #EAEAEA;
    }

    #login .container #login-row #login-column #login-box #login-form {
        padding: 20px;
    }

    #login .container #login-row #login-column #login-box #login-form #register-link {
        margin-top: -85px;
    }

    .btn-clr {
        background-color: #1d72fc;
        color: white;
    }

    .btn-clr:hover {
        background-color: #2a2a72;
        color: white;
    }
    </style>
</head>

<body>
    <div id="login">
        <h2 class="text-center text-white pt-5">DoctorBuddy</h2>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" method="post" enctype="multipart/form-data">
                            {%csrf_token%}
                            <h3 class="text-center"  style="color: #045de9;">Patients Registration</h3>
                            <div class="form-group">
                                <label for="username" style="color: #2a2a72;">Username:</label><br>
                                {{form.username}}
                                {% if form.username.errors %}
                                <small class="help-block-none">{{form.username.errors}}</small>
                                {% endif%}
                            </div>
                            <div class="form-group">
                                <label for="firstname" style="color: #2a2a72;">First Name:</label><br>
                                {{form.first_name}}
                                {% if form.first_name.errors %}
                                <small class="help-block-none">{{form.first_name.errors}}</small>
                                {% endif%}
                            </div>
                            <div class="form-group">
                                <label for="lastname" style="color: #2a2a72;">Last Name:</label><br>
                                {{form.last_name}}
                                {% if form.last_name.errors %}
                                <small class="help-block-none">{{form.last_name.errors}}</small>
                                {% endif%}
                            </div>
                            <div class="form-group">
                                <label for="email" style="color: #2a2a72;">Email:</label><br>
                                {{form.email}}
                                {% if form.email.errors %}
                                <small class="help-block-none">{{form.email.errors}}</small>
                                {% endif%}
                            </div>
                            <div class="form-group">
                                <label for="mobileno" style="color: #2a2a72;">Mobile No:</label><br>
                                {{form.user_mobile}}
                                {% if form.user_mobile.errors %}
                                <small class="help-block-none">{{form.user_mobile.errors}}</small>
                                {% endif%}
                            </div>
                            <div class="form-group">
                                <label for="address" style="color: #2a2a72;">Address:</label><br>
                                {{form.user_address}}
                                {% if form.user_address.errors %}
                                <small class="help-block-none">{{form.user_address.errors}}</small>
                                {% endif%}
                            </div>
                            <div class="form-group">
                                <label for="password1" style="color: #2a2a72;">Profile Image:</label><br>
                                {{form.user_image}}
                                {% if form.user_image.errors %}
                                <small class="help-block-none">{{form.user_image.errors}}</small>
                                {% endif%}
                            </div>
                            <div class="form-group">
                                <label for="password1" style="color: #2a2a72;">Password:</label><br>
                                {{form.password1}}
                                {% if form.password1.errors %}
                                <small class="help-block-none">{{form.password1.errors}}</small>
                                {% endif%}
                            </div>
                            <div class="form-group">
                                <label for="password2" style="color: #2a2a72;">Confirm Password:</label><br>
                                {{form.password2}}
                                {% if form.password2.errors %}
                                <small class="help-block-none">{{form.password2.errors}}</small>
                                {% endif%}
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-info btn-lg btn-block login-button btn-clr" value="submit">
                            </div>
                            <div id="" class="form-group">
                                <a href="{% url 'login' %}" style="color: #2a2a72;">Login here</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>