{% extends "base.html" %}
{%block blockstyle%}
<style type="text/css">
body {
    background: #eee;
}

.main-body {
    padding: 15px;
}

p {
    font-size: 14px;
    color: #777;
}

.blog .image {
    height: 250px;
    overflow: hidden;
    border-radius: 3px 0 0 3px;
}

.blog .image img {
    width: 100%;
    height: auto;
}

.blog .date {
    top: -10px;
    z-index: 99;
    width: 65px;
    right: -10px;
    height: 65px;
    padding: 10px;
    position: absolute;
    color: #FFFFFF;
    font-weight: bold;
    background: #5bc0de;
    border-radius: 999px;
}

.blog .blog-details {
    padding: 0 20px 0 0;
}

.blog {
    padding: 0;
}

.well {
    border: 0;
    padding: 20px;
    min-height: 63px;
    background: #fff;
    box-shadow: none;
    border-radius: 3px;
    position: relative;
    max-height: 100000px;
    border-bottom: 2px solid #ccc;
}

.blog .blog-details h2 {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.blog .date .blog-number {
    color: #fff;
    display: block;
    font-size: 24px;
    text-align: center;
}

.btn-clr {
    text-decoration: none;
    background-color: #1d72fc;
    color: white;
}

.btn-clr:hover {
    text-decoration: none;
    background-color: #2a2a72;
    color: white;
}

</style>
{%endblock%}
{%block maincontent%}
<div class="container-fluid">
    <div class="main-body">
        <!-- Breadcrumb>
        <nav aria-label="breadcrumb" class="main-breadcrumb ">
            <ol class="breadcrumb b-bg-c">
                <li class="breadcrumb-item"><a href="{%url 'index'%}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Articles</li>
            </ol>
        </nav>
        <Breadcrumb -->
        {% load static %}
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="well blog">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 style="text-align: center;">Contact Us</h2>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-4">
                            <div class="image">
                                <img src="{% static 'img/bg2.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="blog-details">
                                <h3>DoctorBuddy</h3>

                                <hr>

                                <p style="color: black;">The online health-care system.</p>

                                <p style="color: black;">
                                    We provide online medical support for everyone. <br>
                                    We have best doctor and staff associated with us. <br>
                                    If you have any query contact us on email: <p style="color: blue;"> admin@gmail.com </p>
                                </p>

<!--                                <a class="btn btn-clr" href="#">Feedback</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}