{% extends "base.html" %}
{%block blockstyle%}
<style type="text/css">
body {
    background: #eee;
}

#home {
    background: url('../static/img/back.jpg') no-repeat center center fixed;
    min-height: 633px;
    min-height: 665px;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -0-background-size: cover;
    background-size: cover;
}

.main-body {
    padding: 15px;
}

p {
    font-size: 18px;
    color: #777;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#services {
    /*background: no-repeat fixed;*/
    background-color: yellow;
    background-size: cover;
    min-height: 758px;
    position: relative;
}

.apt-btn {
    text-decoration: none;
    color: white;
    border: solid white 3px;
    border-radius: 15px;
    padding: 12px;
    background-color: rgba(80,80,80,0.4);
}

.apt-btn:hover {
    text-decoration: none;
    color: white;
    background-color: rgba(42,42,114,0.7);
    box-shadow: 0 0 15px #fff;
    text-shadow: 0 0 20px #f1f1f1;
}

.btn-clr {
    background-color: #1d72fc;
    color: white;
}

.btn-clr:hover {
    background-color: #2a2a72;
    color: white;
}

</style>
{%endblock%}
{%block maincontent%}
{%if not request.user.is_patient %}
<div class="container-fluid">
    <div class="main-body">
        <!-- Breadcrumb>
        <nav aria-label="breadcrumb" class="main-breadcrumb ">
            <ol class="breadcrumb b-bg-c">
                <li class="breadcrumb-item active" aria-current="page">Home /</li>
            </ol>
        </nav>
        <-->
        <div class="row" style="text-align: center;">
            <div class="col-sm-3 col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5>Staff</h5>
                        <p class="card-text">{{hstaffcnt}}</p>
                        <a href="{%url 'hospital-staff' %}" class="btn btn-clr">View</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5>Doctors</h5>
                        <p class="card-text">{{doctorcnt}}</p>
                        <a href="{%url 'hospital-doctors' %}" class="btn btn-clr">View</a>
                    </div>
                </div>
            </div>
            {%if request.user.is_staff or request.user.is_hospital_staff or request.user.is_doctor %}
            <div class="col-sm-3 col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5>Patients</h5>
                        <p class="card-text">{{patientcnt}}</p>
                        <a href="{%url 'hospital-patients' %}" class="btn btn-clr">View</a>
                    </div>
                </div>
            </div>
            {%endif%}
            <div class="col-sm-3 col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5>Appointments</h5>
                        <p class="card-text">{{appointmentcnt}}</p>
                        <a href="{%url 'appointments'%}" class="btn btn-clr">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endif%}

{%if request.user.is_patient %}
<section id="home">
    <div class="container">
        <div class="row">
            <div class="col" style="margin-top:150px; text-align: center;">
                <h1 style="margin-bottom: 150px; color: #f1f1f1; text-shadow: 1px 1px 2px black, 0 0 14px gray, 0 0 10px #241571;">We Care For You, <br> Every Moment!</h1>
                <a class="apt-btn" href="{%url 'add_appointment'%}">Make An Appointment &nbsp<i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
</section>
<!-- >
<section id="services">
    <div class="container">
        <div class="row">
            <div style="text-align: center;">
                <h1>Services</h1>
            </div>
        </div>
    </div>
</section>
<-->
{%endif%}
{%endblock%}